*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
    box-sizing: border-box;
}
.navbar{
    position: sticky;
    top: 0%;
}
nav{
    background-color: #0a0b27;
    z-index: 2;
}
.nav-link{
    color: #fa260a;
}
.nav-link:hover{
    color: #fa260a !important;
    transition: 1s linear !important;
}
.dropdown-menu{
    background-color: #fa260a;
}
.dropdown-item{
    color:#ffffff;
}
.dropdown-item:hover{
    color:#0a0b27;
    background-color: #fa260a;
}
.rot{
    background-color: rgb(150, 213, 26);
}
#parent{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagee{
    position: absolute;
   width: 23%;
   z-index: 0;
}
.feel{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    font-size: 80px;
    font-weight: 1000;
    z-index: 1;
}
#heading1{
    font-weight: 500;
    margin: 21% 15% 4%;
    color: #fa260a;
}
.heading2{
    font-weight: 500;
    margin: 0% 15% 3%;
    color: #fa260a;
}
.heading3{
    font-weight: 500;
    margin: 0% 15% 21%;
    color: #fa260a;
}
.icon1{
    color: #ffffff;
    background-color: #0a0b27;
    padding: 1%;
    border: 3px #0a0b27 solid;
    border-radius: 29px;
}
.icon1:hover{
    cursor: pointer;
    background-color: #fa260a;
    border: 3px #fa260a solid;
    transition: 0.7s ease-in !important;
}
.p1{
   font-size: 15px;
}
@media (max-width:992px){
    #parent{
        height: 680px;
    }
    .imagee{
       width: 20%;
    }
}
@media (max-width:766px){
    .imagee{
       width: 15%;
    }
    .feel{
        font-size: 40px;
    }
}
@media (max-width:574px){
    .imagee{
       width: 18%;
    }
}
@media (max-width:414px){
    #parent{
        height: 600px;
    }
    .imagee{
       width: 23%;
    }
}
@media (max-width:325px){
    .imagee{
       width: 23%;
    }
}